<app-toolbar></app-toolbar>

<div class="app-main-content">
    <div class="app-content-inner">
        
        <div class="row">
            <div class="col-sm-2">
                <div class="profile-details-main">
                    <h4 class="card title">My Profile</h4>
                    <div class="card">
                        <div class="card-content">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="profile-details-main">
                    <h6 class="card title">Other</h6>
                    <div class="card">
                        <div class="card-content">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
