<app-toolbar></app-toolbar>

<div class="app-main-content">
    <div class="app-content-inner">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 xl-50 col-md-12 box-col-6">
                <div class="card-header card-header-theme-1">
                    <h5>My Profile</h5>
                </div>
                <div *ngIf="loading" class="card card-theme-1 height-equal p-4" style="min-height: 627px;">
                    <ngx-shimmer-loading  [width]="'100%'" [height]="'120px'"></ngx-shimmer-loading>
			 <ngx-shimmer-loading [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
			<ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
			<ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
            <ngx-shimmer-loading [width]="'70%'"></ngx-shimmer-loading>
            </div>
                   
                <div class="card card-theme-1 height-equal p-4" style="min-height: 627px;" *ngIf="!loading">
                      <div class="d-flex" >
                        <div class="user-avatar bg-purple">
                            <span>DM</span>
                        </div>
                        <div class="ml-auto">
                            <button mat-icon-button class="action-icon c-primary" (click)="editRegistration(true,profiledetails)">
                                <mat-icon class="material-icons-outlined">edit</mat-icon>
                            </button>
                            
                        </div>
                    </div> 
                    <div class="profile-details card-body mt-4 p-0">
                        <h4 class="f-weight-600">{{profiledetails?.name}}</h4>
                        <h6 class="f-weight-400 c-success">admin</h6>
                        <p class="f-weight-400">{{profiledetails?.date}}</p>
                        <p class="f-weight-400">{{profiledetails?.email}}</p>
                        <p class="f-weight-400">{{profiledetails?.mobile}}</p>
                    </div>
                    <button href="#" class="btn btn-outline-primary" (click)="changePassword()">Change Password</button>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6 col-xl-8 xl-50 col-md-12 box-col-6">
                <div class="card-header card-header-theme-1">
                    <h6>Other Admins</h6>
                </div>
                <div class="card card-theme-transparent height-equal"  style="min-height: 627px;">
                    <div class="default-bg-1 block-middle mx-auto d-none">
                        <img src="assets/images/bg-2.svg" />
                    </div>
                    <div class="row " *ngIf="loading">
                        <div class="col-sm-6 col-xl-4 xl-50 col-lg-4 col-md-6 mb-5">
                        <ngx-shimmer-loading  [width]="'100%'" [height]="'120px'"></ngx-shimmer-loading>
                        <ngx-shimmer-loading [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'70%'"></ngx-shimmer-loading>
                       </div>
                        <div class="col-sm-6 col-xl-4 xl-50 col-lg-4 col-md-6 mb-5">
                        <ngx-shimmer-loading  [width]="'100%'" [height]="'120px'"></ngx-shimmer-loading>
                        <ngx-shimmer-loading [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'70%'"></ngx-shimmer-loading>
                       </div>
                        <div class="col-sm-6 col-xl-4 xl-50 col-lg-4 col-md-6 mb-5">
                        <ngx-shimmer-loading  [width]="'100%'" [height]="'120px'"></ngx-shimmer-loading>
                        <ngx-shimmer-loading [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'70%'"></ngx-shimmer-loading>
                       </div>
                        <div class="col-sm-6 col-xl-4 xl-50 col-lg-4 col-md-6 mb-5">
                        <ngx-shimmer-loading  [width]="'100%'" [height]="'120px'"></ngx-shimmer-loading>
                        <ngx-shimmer-loading [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'70%'"></ngx-shimmer-loading>
                       </div>
                        <div class="col-sm-6 col-xl-4 xl-50 col-lg-4 col-md-6 mb-5">
                        <ngx-shimmer-loading  [width]="'100%'" [height]="'120px'"></ngx-shimmer-loading>
                        <ngx-shimmer-loading [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'70%'"></ngx-shimmer-loading>
                       </div>
                        <div class="col-sm-6 col-xl-4 xl-50 col-lg-4 col-md-6 mb-5">
                        <ngx-shimmer-loading  [width]="'100%'" [height]="'120px'"></ngx-shimmer-loading>
                        <ngx-shimmer-loading [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
                       <ngx-shimmer-loading [width]="'70%'"></ngx-shimmer-loading>
                       </div>
                    </div>
                    <div class="row " *ngIf="!loading">
                        <div class="col-sm-6 col-xl-4 xl-50 col-lg-4 col-md-6 mb-5" *ngFor=" let data of admindetails">
                            <div class="card card-theme-1 p-3">
                                <div class="card-body p-0">
                                    <h5 class="f-weight-600">{{data.name}}</h5>
                                    <p class="f-weight-400">{{data.date}}</p>
                                    <p class="f-weight-400">{{data.email}}</p>
                                    <p class="f-weight-400">{{data.mobile}}</p>
                                    
                                </div>
                                <button class="btn d-block btn-light-primary">SEND PASSWORD OVER THEIR EMAIL</button>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>