<app-toolbar></app-toolbar>

<div class="app-main-content">
    <div class="app-content-inner">
        <div class="content-body">
            <div class="d-flex block-head-content">
                <div>
                    <h4 class="nk-block-title page-title">Statistics</h4>
                </div>
                <div class="ml-auto"></div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="card"></div>
                </div>
            </div>
        </div>
    </div>
</div>
